

.the-navbar {
   display: flex;
   justify-content: center;
   height: 70px;
   position: fixed;
   left: 0;
   z-index: 1000;
   width: 100vw;
   /* overflow: hidden; */

}

.main-ul {
  list-style-type: none;
  display: flex;
  width: 70%;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
 margin-left: 300px;
}

.main-ul > li {
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* margin-right: 0px; */
  width: 10%;
  text-align: center;
  /* background: rgba(175, 218, 143, 0.3);; */
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;

  
}

.main-ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-size: 1.5rem;
  /* margin-left: 370px; */
}

.main-ul li:hover {
  color: rgb(138, 138, 138);
  background: rgb(197, 179, 179);
}


#the-link {
  text-decoration: none;
}


.home-page {
  background-image: url('./images/spa.jpg');
  background-size: cover;
  height: 100vh;
}



/* 
slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
} */


slider > * {
  position: absolute;
  display: block;
  height: 70%;
  width: 100%;
  animation: slide 10s infinite;
  overflow: hidden;
}


slide:nth-child(1) {
  left: 0%;
  animation-delay: -1;
  background-image: url('./images/spa.jpg');
  background-size: cover;
  background-position: center;

}

slide:nth-child(2) {
  animation-delay: 2;
  background-image: url('./images/kugu.jpg');
  background-size: cover;
  background-position: center;
  
}
slide:nth-child(3) {
  animation-delay: 5;
  background-image: url('./images/tas.jpg');
  background-size: cover;
  background-position: center;
  
}
slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background-image: url('./images/pink.jpg');
  background-size: cover;
  background-position: center; 
}

slide p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #fff;
}


@keyframes slide {
   0% {
     left: 100%;
     width: 100%;
   }
   5% {
     left: 0%;
   }
   25% {
     left: 0%;
   }
   30% {
    left: -100%;
    width: 100%;
   }
   30.0001% {
     left: 100%;
     width: 0%;
   }
   100% {
     left: 100%;
     width: 0%;
   }
}


.absolute-class {
  padding-top: 45%;
}


hr {
  width: 48vw;
  text-align: center;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.absolute-class > h2 {
text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: gray;
  padding-top: 50px;
}


.absolute-class > h1 {
  color: rgb(206, 122, 136);
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


#other-hr {
margin-top: 30px;
}


.facial-treatments {
  margin: 10%;

}


.facial-treatments > h1 {
  font-family: 'Courgette', cursive;

    color: #e80a89; 
}