

.the-navbar {
   display: flex;
   justify-content: center;
   height: 70px;
   position: fixed;
   left: 0;
   z-index: 1000;
   width: 100vw;
   /* overflow: hidden; */

}

.main-ul {
  list-style-type: none;
  display: flex;
  width: 70%;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
 margin-left: 300px;
}

.main-ul > li {
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* margin-right: 0px; */
  width: 10%;
  text-align: center;
  /* background: rgba(175, 218, 143, 0.3);; */
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;

  
}

.main-ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 1.5rem;
  /* margin-left: 370px; */
}

.main-ul li:hover {
  color: rgb(138, 138, 138);
  background: rgb(197, 179, 179);
}


#the-link {
  text-decoration: none;
}


.home-page {
  background-image: url('./images/spa.jpg');
  background-size: cover;
  height: 100vh;
}
